/*general*/
*{
	box-sizing: border-box;
}
body{
	font-family: "Aclonica", times, sans-serif;
	background: black;
	color: white;
}
.container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}
.jumbotron{
	background: black;
}
h1, h2, h3, p{
	margin-bottom: 20px;
}
ol{
	text-align: left;
	padding-left: 10px;
}
/*header*/
#mastHead{
	text-align: center;
}
#mastHead h1{
	font-size: 30px;
}
#mastHead img{
	width: 960px;
	height: 150px;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


/*footer*/
footer{
	font-family: "Times New Roman", times, serif;
	padding: 30px 0;
	clear: both;
	font-size: 12px;
	text-align: center;
}

/*main*/
#mainContainer {
	padding: 10px 10px;
	width: 650px;
	text-align: center;
}
.mainSection {
	padding: 20px 20px;
	width: 100%;
	max-width: 49.5%;
	float: left;
	border: 2px dashed white;
	height: 500px;
}

#carImage{
	margin-bottom: 20px;
	width: 200px;
	height: 100px;	
}

/*sidebar*/
.sidebar {
	padding: 20px 20px;
	height: 500px;
	width: 100%;
	max-width: 49.5%;
	float: right;
	border: 2px dashed white;
}
#game{
	padding-top: 50px;
}


